  body {
    background-color: white;
}

  h1 {
    color: purple;
    text-align: center;
}
/*---------------------------------------------- Nav Bar Title Style -------------------------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
  overflow: hidden;
  background-color:purple;
}

li {
  float: left;
}
    
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

/* Change the link color to magenta on hover */
li a:hover {
  background-color: magenta;
}
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
  overflow: hidden;
  background-color:purple;
}

/* -------------------------------------------- DIV NOTE ON PAGES ----------------------------------------*/
div.abs {
  z-index: 3;
  position: absolute;
  background-color: white;
  right: 100px;
  top: 400px;
  width: 200px;
  height:  100px ;
  border: 3px solid purple;
  text-align: center;
  
div.stuck {
  position: sticky;
  top: 0;
  background-color: white;
  border: 5px solid purple;
  text-align: center;
  z-index: 100;
  max-width: 50%;
  left: 25%; 
}
